aside.main-menu {
	background-color: #125E15 !important;
}

button {
	background-color: #2CA04C !important;
}

.main__content {
	background-color: #E8F2EB !important;
}

.header__right .ripple--container {
	background-color: #2C70A2 !important;
}
