:root {
	--white85: rgba(255,255,255,0.85);
}

aside.main-menu {
	background-color: #595959;
	color: var(--white85);
}

.navbar__header {
	color: var(--white85);
}

.navbar__logo {
	color: var(--white85);
}

svg.icon.icon-menu {
	color: var(--white85);
}

svg.icon.icon-menu:hover {
	color: #94DAFF;
}

.main__content {
	background-color: #F0F0F0;
}

.header__right .ripple--container {
	background-color: #A3A3A3;
}

.header__right .btn.btn-full {
	position: relative;
	background-color: #A3A3A3;
	color: #F2F2F2;
}

.header__right .btn.btn-full::before { /*<--temp fix for positioning?*/
	content: "Create New Ticket";
	top: 20%;
	left: 12%;
}

.profile__item.profile__user.active .btn.btn-border {
	position: relative;
	background-color: #A3A3A3;
	color: #F2F2F2;
}

.profile__item.profile__user.active .btn.btn-border::before {
	content: "View Profile";
	top: 25%;
	left: 25%;
}

section.params--block.params ul {
	height: 30vh;
	overflow: scroll;
}

.table thead {
	height: 34px;
}

.table.sindu-table thead th,
.table.sindu-table tbody td {
	padding: 5px 5px;
}

/*replies extended past box bounds 05/16/2024*/
.note__description p {
	word-wrap: break-word;
}

.orange-text {
	color: #FF5F1F;
}

.smaller-text {
	font-size: 0.3rem;
}