:root {
	--white85: rgba(255,255,255,0.85);
}

aside.main-menu {
	background-color: #595959;
	color: var(--white85);
}

/* aside.main-menu svg, aside.main-menu .navbar__logo { */
	/* filter: brightness(140%); */
/* } */

.navbar__header {
	color: var(--white85);
}

.navbar__logo {
	/* visibility: hidden; */
	/* position: relative; */
	color: var(--white85);
}

/* .navbar__logo::before { */
	/* visibility: visible; */
	/* content: "IT Help Desk"; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* transform: scale(0.85); */
	/* color: var(--white85); */
	/* width: 130%; */
/* } */

svg.icon.icon-menu {
	color: var(--white85);
}

svg.icon.icon-menu:hover {
	color: #94DAFF;
}

/* button { */
	/* background-color: #A3A3A3; */
/* } */

.main__content {
	background-color: #F0F0F0;
}

.header__right .ripple--container {
	background-color: #A3A3A3;
}

.header__right .btn.btn-full {
	/*visibility: hidden;*/
	position: relative;
	background-color: #A3A3A3;
	color: #F2F2F2;
}

.header__right .btn.btn-full::before { /*<--temp fix for positioning?*/
	content: "Create New Ticket";
	top: 20%;
	left: 12%;
}

.profile__item.profile__user.active .btn.btn-border {
	position: relative;
	background-color: #A3A3A3;
	color: #F2F2F2;
}

.profile__item.profile__user.active .btn.btn-border::before {
	content: "View Profile";
	top: 20%;
	left: 12%;
}

section.params--block.params ul {
	height: 30vh;
	overflow: scroll;
}

.table thead {
	height: 34px;
}

.table.sindu-table thead th,
.table.sindu-table tbody td {
	padding: 5px 5px;
}


/* .table thead th.table__first_th, .table thead th,  */
/* .table tbody tr .table__first_td, table tbody td  { */
	/* padding: 6px 6px; */
/* } button under username at top left should say View Profile*/